@model IEnumerable<Gestao.Models.Departamento>

@{
    ViewData["Title"] = "Departamento";
}



<br>
<br>


<h1>Departamento</h1>

<br>
<br>


@if (TempData["Message"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["Message"]
    </div>
}



<p>
    <a asp-action="Create">Create New</a>
</p>

<br>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome) Pessoa
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instituicao.Nome) Instituição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instituicao.Nome)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DepartamentoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DepartamentoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DepartamentoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
